@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=PT+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=PT+Sans&family=Ubuntu&display=swap');
@import url(./reset.css);

:root {
    --dark-grey: #202124;
    --light-bg: #eeffec;
    --light-grey: #c8c9cc;
    --dark-green: #508733;
    --light-green: #89c272;
    --light-brown: #d7b68f;
    --medium-brown: #eead65;
    --dark-brown: #403029;
    --dark-blue:#147ae6;
    --light-blue: #99a2aa;
    --border-radius: 25px;
    --heading-ff: 'Urbanist', sans-serif;
    --body-ff: 'Fira Sans', sans-serif;
}

.product-container {
    display: flex;
}

section.two-columns {
    margin-top: 80px;
    width: 50%;
    text-align: center; 
}

h2 {
    margin: 5px auto 10px auto;
}

.product-image img {
    width: 73%;
    height: 350px;
}

p {
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: var(--dark-grey);
}

div section p a {
    color: var(--dark-green);
}