@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=PT+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=PT+Sans&family=Ubuntu&display=swap');
@import url(./reset.css);

:root {
    --dark-grey: #202124;
    --light-bg: #eeffec;
    --light-grey: #c8c9cc;
    --dark-green: #508733;
    --light-green: #89c272;
    --light-brown: #d7b68f;
    --medium-brown: #eead65;
    --dark-brown: #403029;
    --dark-blue:#147ae6;
    --light-blue: #99a2aa;
    --border-radius: 25px;
    --heading-ff: 'Urbanist', sans-serif;
    --body-ff: 'Fira Sans', sans-serif;
}

.product-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    padding: 60px;
}

section.two-columns {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0px;
    padding: 30px;
}

p {
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: var(--dark-grey);
}

div section p a {
    color: var(--dark-green);
}



/* Desktop medium: 992px and down */
@media (max-width: 992px) {
    .product-container, section.two-columns {
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 5px;
    }
  
}

/* tablet: 768px and down */
@media (max-width: 768px) {
    h2 {
        font-size: 24px;
    }
    .product-container, section.two-columns {
        width: 100%;
        height: auto;
        align-items: center;
        padding: 5px;
    }
    .nav-items {
        width: 50%;
    }
}

  /* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    .product-container {
        width: 100%;
    }
}