@charset "utf-8";
@import url(./reset.css);

:root {
    --dark-grey: #202124;
    --light-grey: #c8c9cc;
    --dark-green: #508733;
    --light-green: #89c272;
    --dark-blue:#147ae6;
    --light-blue: #99a2aa;
    --border-radius: 50%;
    --heading-ff: 'Urbanist', sans-serif;
    --body-ff: 'Fira Sans', sans-serif;
}

body {
    background-color: var(--light-grey);
    color: var(--dark-grey);
    font-family: var(--body-ff);
    overflow: hidden;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}
